[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
asyncpraw = "*"
mysql-connector-python = "*"
tweepy = "==3.10.0"
pfycat = "*"
pyshorteners = "*"
instagram_private_api = "*"
twitchAPI = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
