[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpraw = "*"
mysql-connector-python = "*"
tweepy = "==3.8.0"
instagram-private-api = "*"
instagram-private-api-extensions = "*"
twitchAPI = "*"
pfycat = "*"
#nextcord = "2.0.0a10"

[dev-packages]

[requires]
python_version = "3.9.5"
